@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Marcellus&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Paleta de colores
 #072227;
 #35858B;
 #4FBDBA;
 #AEFEFF; */

 :root {
  --color1: RGB(#35858B);
  --color2: RGB(#072227);
}

html, body {
  background-color: rgb(238, 236, 236);
  height: 100%;
  font-family: 'Fira Code', monospace;
  font-family: 'Marcellus', serif;
}

body::-webkit-scrollbar {
	width: 10px;
	background:#000000;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255,255,255, .2);
	border-radius: 10px;
	border-right: 1px solid #19191a;
}

.NAVBAR{
 background: #35858B;
}

.Footer{
  background: #072227;
  height: 15rem;
  width: 100%;
}

.inputForm{
  width: 30rem;
}

.colPublicatuhotel{
background: rgba(255, 255, 255,0.3);
box-shadow: 5px 5px 5px rgba(8, 104, 56, 0.1);
padding: 1rem;
}

.NavUsuario{
  background-color: #35858B;
  color: rgb(255, 255, 255);
}

.sidebar{
    background-color: #35858B;
    color: white;
    height: 100vh;
    width: 230px; 
}

.contenedorBuscador{
  border-radius: 40px;
  background-color: #35858B;
  height: 4rem;
}

.bgImg{
  background: url('https://live.staticflickr.com/65535/49652994951_d039300443_b.jpg');
  height: 25rem;
}



.bgImg2{
  background: url('https://www.sdccd.edu/about/departments-and-offices/communications-and-public-relations/newscenter/_thumbnails/2018/miramarnight5.jpg');
  height: 20rem;
}
